.bgimage {  
    background:url("http://media.mutualart.com/Images/2011_06/29/14/144542085/47c5e3b9-b04e-4d34-b203-73df001bb02b.Jpeg");
    background-position:top center; 
    background-size:cover; 
    margin-top:-20px;
    height:1000px;
    color:white;
    }
p{
    font-size:20px;
    
    }
.white-text{
    margin-top:20%;
}
.life-image-left{
    float:left;
    width:200px;
}
.life-image-right{
    float:right;
    width:200px;
}
.life-text{
    padding-left:120px;
    font-size:35px;
}
.white-box{
    margin:50px;
    padding:30px;
    background:#fff;
}
.navbar{
    background-color:#222;
    height:70px;
    display:block;
    position:fixed;
    margin-top:20px;
    z-index:1;
}
.inline{
    color:white;
    display:inline-block;
    padding:10px 20px 10px 20px; 
    float:right;
    font-size:22px;
}
.logo{
    color:white;
    display:inline-block;
    padding:5px;
}
    