
p{
    font-size:20px;
    /*overflow:hidden;*/
}







.navbar, .dropdown{
    background-color:#222;
    height:70px;
    width:100%;
    display:block;
    position:fixed;
    left:0;
    z-index:1;
    border:none;
    padding:0;
}

ul{
    list-style-type:none;
}

.dropdown{
  display: none;
}



.inline{
    display:inline-block;
    padding:20px 20px 10px 20px;
    float:right;
    font-size:22px;
    width:auto;
}

.inline a{
    color:white;
}
.logo, .dropdown-logo{
    color:white;
    display:inline-block;
    padding:15px 0;
    font-size:25px;

}



#bgimage {
    background:url("http://media.mutualart.com/Images/2011_06/29/14/144542085/47c5e3b9-b04e-4d34-b203-73df001bb02b.Jpeg");
    background-position:0 70px;
    background-size:cover;
    height:1000px;
    color:white;
}


.intro-text{
    margin-top:20%;

}

#timeline{
  padding:0 5%;

}


.life-image{
  width:20%;
  margin-right:5%;
}

.life-title{
    margin-top:3%;
    font-size:35px;
}

.row{
  margin:0;
}

#more > div > div{
  padding:0;
}
.more-text{
    padding:80px 30px;
    font-size:30px;
}





@media(max-width: 768px){

  .dropdown{
    display:flex;
  }

  .dropdown-logo{
    flex:2 10 90%;
    text-align: center;
    padding:18px 0 0 5%;
    font-size:26px;
  }

  .dropdown li:last-of-type{
    flex:1 1 10%;
  }

  .dropdown button{
    background: #303030;
    margin:20px 5px 0 5px;
    color:#fff;
  }

  .dropdown-menu{
    margin-top:-1px;

    background: #222;

  }

  .dropdown-menu li a{
    color:#fff;
    font-size: 18px;

  }

  .navbar{
    display:none;
  }

  #bgimage {
    background-position:center;
    background-size: 100vw;
    background-repeat: no-repeat;
    height:250px;
  }

  .intro-text{
      margin-top:260px;
      color:#000;
      text-align: center;
  }

  .intro-text p{
    color:#555;
    font-size:18px;
    margin-top:3%;
  }



}

@media(max-width: 500px){

  h1{
    font-size:34px;
  }

  .dropdown button{

    margin:20px 10px 0 0;

  }

  .life-period{
    margin:0 1%;
  }

  .life-image{
    width:40%;
  }

  .life-text{
    font-size:17px;
  }
  .life-title{
      font-size:30px;
  }
}
